* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%; /* default browser font 16px = 62.5% 10px = 1rem */
}
body {
    height: 100vh;
    font: 1.6rem DM Sans, sans-serif;
    margin: 0;
}
a {
    text-decoration: none;
    color: #808B96;
}
a:hover {
    color: #f1e8e6;
}
li {
    list-style-type: none;
}
input,
button {
    font-size: 1.6rem;
    padding: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    outline: none;
    border: 0;
}
input {
    background-color:rgb(232, 240, 254);
}

button:hover {
    color: #f1e8e6;
}
button.primary {
    background-color: #FFA07A;
}
.overlay {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(16, 16, 16, .5);
}
.overlay.active {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff
}
.overlay > div {
    background-color: #fff;
    color: #000000;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 40rem;
}
.overlay > div > * {
    margin: 2rem;
}
.delete-button {
    background-color: #FFA07A;
}
.fw {
    width: 100%;
}
.success {
    color: #40c040;
}
.error {
    color: #c04040;
}
.grid-container{
    display: grid;
    grid-template-areas:
    'header' 'main' 'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem; /* 50px */
    /* 속성값으로 1fr을 주먼 고정 픽셀을 제외한 나머지 공간을 다 차지함 */
    height: 100%;
}
header{
    grid-area: header;
    color: #454545;
    display: flex;
    justify-content: space-between;
    align-items: center; /* center vertically */
    padding: .5rem 11rem; /* 5px */
}
header a{
    color: #454545;
    text-decoration: none;
    padding: 0 .3rem;
}
header a:hover {w
    color: #f1e8e6;
}
.brand a{
    font-size: 2rem;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #454545;
}
/* products */
.products {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    justify-content: center;
    max-width: 150rem;
}
.products li {
    flex: 0 1 30rem;
    margin: 1rem;
    margin-bottom: 0;
    height: 42rem;
    padding: 0;
    border-top: .2rem #FFA07A solid; /* 2px */
}
.product {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
.product img {
    max-height: 30rem;
    max-width: 30rem;
    margin-top: -0.45rem; 
}
.product-name {
    line-height: 2.2rem;
}
.product-brand {
    font-size: 1.2rem;
    color: #454545;
}
.product-price {
    font-size: 1.8rem;
}
/* Rating */
.rating {
    color: #ff9999;
    font-size: 1.4rem;
}
.rating span:last-child {
    color: #454545;
}
.content {
    padding: 1rem; 
}
/* Product Details */
.details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap; /*모바일 등으로 화면이 작아지면 push down한다*/
}
.details-image {
    flex: 2 1 60rem; /* flex-grow: 2 flex-shink: 1 flex-basis: 600px */
}
.details-image img {
    max-width: 60rem;
    width: 100%;
}
.details-info, 
.details-action {
    flex: 1 1 30rem;
}
.details-info ul, 
.details-action ul {
    padding: 0;
}
.details-info h1 {
    font-size: 2rem;
    margin: 0;
}
.details-info li,
.details-action li {
    margin-bottom: 1rem;
}
.details-action {
    border: .1rem #808B96 solid;
    border-radius: .5rem;
    background-color: #f1e8e6;
    padding:  1rem;
}
/* Cart */
.cart {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  
.cart-list {
    flex: 3 1 60rem;
  }
.cart-action {
    flex: 1 1 20rem;
    background-color: #f1e8e6;
    border-radius: 0.5rem;
    padding: 1rem;
  }
.cart-list-container {
    padding: 1rem;
    list-style-type: none;
  }
  
.cart-list-container li {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 0.1rem #f1e8e6 solid;
  }
.cart-list-container img {
    max-width: 10rem;
    max-height: 10rem;
  }
.cart-list-container li:first-child {
    align-items: flex-end;
  }
.cart-image {
    flex: 1 1;
  }
.cart-name {
    flex: 8 1;
  }
.cart-price {
    flex: 1 1;
    text-align: right;
  }
.cart-name > div {
    padding: 1rem;
  }
.cart-list h3 {
    margin: 0;
  }
.cart-list button,
.cart-list select {
    font-size: 1.3rem;
    padding: 0.5rem;
  }
  /* Form */
.form-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
  }
  .form-items {
    display: flex;
    flex-direction: column;
    width: 32rem;
    padding: 2rem;
    border: 0.1rem #c0c0c0 solid;
    border-radius: 0.5rem;
    list-style-type: none;
  }
  .form-items li {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .form-container h1 {
    font-size: 2.5rem;
  }
  /* Checkout */
.checkout-steps {
    display: flex;
    justify-content: space-between;
    width: 40rem;
    margin: 1rem auto;
  }
  .checkout-steps > div {
    border-top: 0.3rem #c0c0c0 solid;
    color: #c0c0c0;
    flex: 1 1;
    padding-top: 1rem;
  }
  .checkout-steps > div.active {
    color: #FFA07A;
    border-top-color: #FFA07A;
  }
  /* Order */
  .order {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: space-between;
  }
  .order h2 {
    margin: 0;
    padding-bottom: 1rem;
    font-size: 2rem;
  }
  .order .cart-list-container {
    padding: 0;
  }
  .order-info {
    flex: 3 1 60rem;
  }
  .order-info > div {
    border: 0.1rem #c0c0c0 solid;
    border-radius: 0.5rem;
    background-color: #fcfcfc;
    padding: 1rem;
    margin: 1rem;
  }
  .order-info > div:first-child {
    margin-top: 0;
  }
  .order-info > div > div {
    padding: 1rem;
  }
  .order-action {
    flex: 1 1 20rem;
    border: 0.1rem #c0c0c0 solid;
    border-radius: 0.5rem;
    background-color: #fcfcfc;
    padding: 1rem;
  }
  .order-action > ul {
    padding: 0;
    list-style-type: none;
  }
  .order-action li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  .order-action .total {
    font-size: 2rem;
    font-weight: bold;
    color: #c04000;
  }
  /* Profile */
  .profile {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .profile-info {
    flex: 1 1 20rem;
  }
  .profile-orders {
    flex: 3 1 60rem;
    margin-left: 1rem;
  }
  
  table {
    width: 100%;
  }
  th {
    text-align: left;
  }
  tbody > tr:nth-child(odd) {
    background-color: #f0f0f0;
  }
  td {
    padding: 0.5rem;
  }
  /* Dashboard */
  .dashboard {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
  }
  .dashboard h1 {
    font-size: 3rem;
    margin: 1rem 0;
  }
  .dashboard-menu {
    flex: 1 1 20rem;
    background-color: #f0f0f0;
  }
  .dashboard-menu ul {
    padding: 0;
  }
  .dashboard-menu a {
    display: flex;
    padding: 1rem;
    padding-left: 2rem;
    justify-content: space-between;
  }
  .dashboard-menu a:hover {
    background-color: #c0c0c0;
    color: #f08040;
  }
  .dashboard-menu li.selected a {
    background-color: #c0c0c0;
    color: #f08040;
  }
  .dashboard-content {
    flex: 4 1 80rem;
    padding: 1rem;
  }
  .order-list button,
  .product-list button {
    font-size: 1.3rem;
    padding: 0.5rem;
  }
  .tr-action {
    width: 10rem;
  }
  .summary-items {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }
  .summary-items > li {
    border: 0.1rem #c0c0c0 solid;
    margin: 2rem;
    border-radius: 0.5rem;
    flex: 1 1 20rem;
  }
  .summary-title {
    background-color: #e0e0e0;
    font-size: 2rem;
    padding: 1rem;
  }
  .summary-body {
    font-size: 4rem;
    padding: 1rem;
    text-align: center;
  }
  .summary-title.color1 {
    background-color: #f0e0e0;
  }
  .summary-title.color2 {
    background-color: #e0f0e0;
  }
  .summary-title.color3 {
    background-color: #e0e0f0;
  }
  .charts {
    display: flex;
    justify-content: space-between;
  }
  .charts > div {
    flex: 1;
  }
  